:root {
  font-family: 'Clash Display', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #E25682;  /* Default primary color */
}

[data-theme="blue"] {
  --primary-color: #3EB7DA;  /* Blue theme primary color */
}

.pink-theme-background {
  background-color: #E25682;
}

.blue-theme-background {
  background-color: #3EB7DA;
}

a {
  font-weight: 500;
  color: #0D131A;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #F3F3F3;
}

h1.title {
  font-size: 3.2em;
  line-height: 1.1;
}

h1.top-heading {
  font-size: 1em;
}

button {
  outline: none;
  border: none;
}
